.products__cardBack{

	background-color: #2A3C7A !important;
	color: #FEFEFE !important;
	font-weight: 100;
	font-size: 1rem;
	padding: 50px 80px;
	text-align: left !important;

	@media (max-width:1430px){

		font-size: 0.9rem;
		padding: 40px 70px;

	}

	@media (max-width:1300px){

		font-size: 0.8rem;
		padding: 35px 70px;

	}

	@media (max-width: 945px){
        font-size: 1.25rem;
	}

	@media (max-width: 760px){
        font-size: 1rem;
	}

	@media (max-width: 540px){
        font-size: 0.75rem;
	}
}
