.products__cardFront{

	background-color: #2A3C7A !important;
	color: #FEFEFE !important;
	font-size: 10rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 961px){
		font-size: 7rem;
	}

	@media (max-width: 945px){
        font-size: 12rem;
	}

	@media (max-width: 540px){
        font-size: 9rem;
	}

}
