.contact__socialMediaAligner{

	display: flex;
	align-items: center;
	justify-content: flex-end; 
	padding-right: 0 !important;
	margin-top: 0;

	@media (max-width: 991px){
		justify-content: center;
		margin-top: 5rem;
	}
}