.banner{

	height: 700px;
	object-fit: cover;
	top: 0px;
	background-image: url("../../../../static/images/landingPage/banner/maker-space.svg");
	background-position: center;
	background-repeat: no-repeat;

	@media(max-width: 961px){
		height: 600px;
	}

}