.primaryCards__scheduleSummary{

	font-size: 1rem;
	font-weight: 100;

	@media (max-width: 1400px){

		font-size: 1rem;

	}

	@media (max-width: 1200px){

		font-size: 0.9rem;

	}

	@media (max-width: 991px){

		font-size: 0.75rem;

	}

}