.tutors__portrait{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	width: 50%;
	padding-top: 50%;
}

.tutors__portrait--luigi{
	background-image: url('../../images/landingPage/about/portrait/luigi.jpeg')
}

.tutors__portrait--lucas{
	background-image: url('../../images/landingPage/about/portrait/lucas.jpeg')
}

.tutors__portrait--mila{
	background-image: url('../../images/landingPage/about/portrait/mila.jpeg')
}

.tutors__portrait--leonardo{
	background-image: url('../../images/landingPage/about/portrait/leonardo.jpeg')
}

.tutors__portrait--gustavo{
	background-image: url('../../images/landingPage/about/portrait/gustavo.jpeg')
}

.tutors__portrait--arthur{
	background-image: url('../../images/landingPage/about/portrait/arthur.jpeg')
}

.tutors__portrait--thiago{
	background-image: url('../../images/landingPage/about/portrait/thiago.jpeg')
}
